
:root {
  --body-secondary-color: #71717A;
  --body-tertiary-color: #979797;
  --body-quaternary-color: #f4f4F5;
  --status-dark-blue-color: #1e40af;
  --status-orange-color: #f97316;
  --status-green-color: #8ee1ad;
  --button-blue-color: #3b82f6;
  --button-black-color: #18181b;
  --divider-color: #e4e4e7;
} 