
:root {
  --body-secondary-color: #6b7280;
  --body-tertiary-color: #979797;
  --body-quaternary-color: #f4f4F5;
  --active-primary-color: #3b82f6;
  --status-green-color: #8ee1ad;
  --divider-color: #ebebeb
} 