@import "tailwindcss";

:root {
  --black: #000000;
  --light-grey: #e4e4e7;
  --medium-grey: #d1d6df;
  --dark-grey: #6f7582;
  --light-blue: #dbeafe;
  --dark-blue: #1e40af;
  --light-yellow: #fef3c7;
  --dark-yellow: #92400e;
  --red: #ef4444;
  --light-green: #dcfce7;
  --dark-green: #166534;
}
