@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

.geist-thin,
.geist-extralight,
.geist-light,
.geist-regular,
.geist-medium,
.geist-semibold,
.geist-bold,
.geist-extrabold,
.geist-black {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.geist-thin {
  font-weight: 100;
}

.geist-extralight {
  font-weight: 200;
}

.geist-light {
  font-weight: 300;
}

.geist-regular {
  font-weight: 400;
}

.geist-medium {
  font-weight: 500;
}

.geist-semibold {
  font-weight: 600;
}

.geist-bold {
  font-weight: 700;
}

.geist-extrabold {
  font-weight: 800;
}

.geist-black {
  font-weight: 900;
}
